{% extends 'layout.html' %}

{% block content %}
<header>
    <h1>Portfolio Overview: All Assets</h1>
</header>

<div class="table-wrap">
    <table class="holdings">
        <thead>
            <tr>
                {% for column in columns if 'id' not in column %}
                    <th>{{ column | replace('_', ' ') | title }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for dic in lists %}
                <tr>
                    {% for key, value in dic.items() if key != 'id' %}
                        {% if key == 'current_price' %}
                            <td class="currency">${{ "{:,.2f}".format(value | float) }}</td>
                        {% elif 'percent' in key %}
                            <td class="percent">{{ '{:.2%}'.format(value|float) }}</td>
                        {% else %}
                            <td>{{ value }}</td>
                        {% endif %} 
                    {% endfor %}
                    <td>
                        <form class="btn-row" action="{{ url_for('update_asset') }}">
                            <input type="hidden" name="asset_id" value="{{ dic['id'] }}">
                            <button type="submit" class="update">Update</button>
                        </form>
                    </td>
                    <td>
                        <form class="btn-row" method="post" action="{{ url_for('delete_asset') }}"
                        onsubmit="return confirm('Are you sure? Deleting the asset will delete all associated holdings.');">
                            <input type="hidden" name="asset_id" value="{{ dic['id'] }}">
                            <button type="submit" class="delete">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block links %}
<div class="actions">
  <a class="btn-add" href="{{ url_for('add_asset') }}">Add Asset</a>
</div>
{% endblock %}