{% extends 'layout.html' %}

{% block content %}
  <section id="current_price">
    <header>
      <h2>Editing '{{ asset.ticker asset.name }}'</h2>
      <ul>
        <li>
          <form class="delete" action="{{ url_for('delete_asset', asset_id=asset.id) }}" method="post">
            <button type="submit" class="delete">Delete Asset</button>
          </form>
        </li>
      </ul>
    </header>
  </section>

  <form action="{{ url_for('update_asset', asset_id=asset.id) }}" method="post">
    <dl>
      <dt><label for="current_price">Enter the current price:</label></dt>
      <dd><input type="text" name="current_price" placeholder="Current Price" value="{{ current_price if current_price is defined }}"></dd>
    </dl>
    <fieldset class="actions">
      <input type="submit" value="Save">
      <a href="{{ url_for('get_assets') }}">Cancel</a>
    </fieldset>
  </form>
{% endblock %}