{% extends 'layout.html' %}

{% block content %}
<header>
    <h1>Portfolio Overview: All Holdings</h1>
</header>
<div class="table-wrap">
    <table class="holdings">
        <thead>
            <tr>
                {% for key in lists[0].keys() if key not in ('asset_id', 'account_id') %}
                    <th>{{ key | replace('_', ' ') | title }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for dic in lists %}
            <tr>
                {% for key, value in dic.items() if key not in ('asset_id', 'account_id', 'holding_id') %}
                    {% if key in ('current_price', 'market_value') %}
                        <td class="currency">${{ "{:,.2f}".format(value | float) }}</td>
                    {% elif key == 'shares' %}
                        <td class="number">{{ "{:,}".format(value | int) }}</td>
                    {% else %}
                        <td>{{ value }}</td>
                    {% endif %} 
                {% endfor %}
                <td>
                    <form action="{{ url_for('update_holding') }}">
                        <input type="hidden" name="holding_id" value="{{ dic['holding_id'] }}">
                        <button type="submit" class="update">Update</button>
                    </form>
                </td>
                <td>
                    <form method="post" action="{{ url_for('delete_holding') }}">
                        <input type="hidden" name="holding_id" value="{{ dic['holding_id'] }}">
                        <button type="submit" class="delete">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block links %}
<div class="actions">
  <a class="btn" href="{{ url_for('add_account') }}">Add Account</a>
  <a class="btn" href="{{ url_for('add_asset') }}">Add Asset</a>
  <a class="btn" href="{{ url_for('add_holding') }}">Add Holding</a>
</div>
{% endblock %}