{% extends 'layout.html' %}

{% block content %}
<header>
    <h1>Portfolio Overview: All Holdings</h1>
</header>

<form method="get" action="{{ url_for('get_holdings') }}">
    <label for="account_id">Filter by account:</label>
    <select id="account_id" name="account_id" onchange="this.form.submit()">
        <option value="" {% if account_id is none %}selected{% endif %}>All</option>
        {% for account in accounts %}
        <option value="{{ account['id'] }}" {% if account_id == account['id'] %}selected{% endif %}>
            {{ account['account_name'] }} ({{ account['account_type'] }})
        </option>
        {% endfor %}
    </select>
    <noscript>
        <button type="submit">Apply</button>
    </noscript>
</form>

<div class="table-wrap">
    <table class="holdings">
        <thead>
            <tr>
                {% for key in lists[0].keys() if key not in ('asset_id', 'account_id', 'holding_id') %}
                    <th>{{ key | replace('_', ' ') | title }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for dic in lists %}
            <tr>
                {% for key, value in dic.items() if key not in ('asset_id', 'account_id', 'holding_id') %}
                    {% if key in ('current_price', 'market_value') %}
                        <td class="currency">${{ "{:,.2f}".format(value | float) }}</td>
                    {% elif key == 'shares' %}
                        <td class="number">{{ "{:,}".format(value | int) }}</td>
                    {% else %}
                        <td>{{ value }}</td>
                    {% endif %} 
                {% endfor %}
                <td>
                    <form action="{{ url_for('update_holding') }}">
                        <input type="hidden" name="holding_id" value="{{ dic['holding_id'] }}">
                        <button type="submit" class="update">Update</button>
                    </form>
                </td>
                <td>
                    <form method="post" action="{{ url_for('delete_holding') }}">
                        <input type="hidden" name="holding_id" value="{{ dic['holding_id'] }}">
                        <button type="submit" class="delete">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        {% set total_market_value = lists | sum(attribute='market_value', start=0) %}
        <tfoot>
            <tr>
                <td colspan="7"><strong>Total Market Value:</strong></td>
                <td class="currency"><strong>${{ "{:,.2f}".format(total_market_value | float) }}</strong></td>
            </tr>
        </tfoot>
    </table>
</div>
{% endblock %}

{% block links %}
<div class="actions">
  <a class="btn" href="{{ url_for('add_account') }}">Add Account</a>
  <a class="btn" href="{{ url_for('add_asset') }}">Add Asset</a>
  <a class="btn" href="{{ url_for('add_holding') }}">Add Holding</a>
</div>
{% endblock %}