<!doctype html>
<html lang="en-US">
  <head>
    <title>Portfolio App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
  </head>
</html>
<body>
  <header>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="flash {{ category }}">
            <p>{{ message }}</p>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
  </header>
  {% block content %}{% endblock %}
  
  <hr>
  {% block links %}{% endblock %}

  {% if 'username' in session %}
  <hr>
  
  <div>
    <a class="btn-view" href="{{ url_for('get_accounts') }}">See Accounts</a>
    <a class="btn-view" href="{{ url_for('get_assets') }}">See Assets</a>
    <a class="btn-view" href="{{ url_for('get_holdings') }}">See Holdings</a>
  </div>

  <div>
    <form method="post" action="{{ url_for('signout') }}">
      <button type="submit">Sign Out</button>
    </form>
  </div>
  {% endif %}
  </body>