<form action="{{ url_for('update_asset') }}" method="post">
    <dl>
        <dt>Asset Ticker: {{ asset.ticker }}</dt>
        <dt>Asset Name: {{ asset.name }}</dt>
    </dl>
    <dl>
        <input type="hidden" name="asset_id" value="{{ asset['id'] }}">
        <dt>
            <label for="current_price">Enter the current price:</label>
        </dt>
        <dd>
            <input required
                id="current_price" 
                type="currency" 
                name="current_price" 
                placeholder="{{ asset['current_price'] }}" 
                value="{{ asset['current_price'] }}"
                min="0"
                step="0.01">
        </dd>
    </dl> 

    <fieldset>
        <input type="submit" value="Save">
        <a href="{{ url_for('get_assets') }}">Cancel</a>
    </fieldset>
</form>